.import-container{
    min-height: 100vh;
}
.header-bar{
    background-color: #57CC99;
    min-height: 10vh;
    align-items: center;
    display: flex;
}
#header-font{
    font-size: 20px;
    font-weight: bold;
    margin-left: 3%;
}
.search-box{
    margin-left: 10px;
    margin-top: 2%;
    width: 300px;
    height: 45px;
    padding-left: 20px;
    font-size: 18px;
}
#search-icon{
    margin-left: 50px;
    margin-right: 10px ;
}

.scrollv{
    -ms-overflow-style: none;
    overflow-y:scroll;
    height:50vh;
    scrollbar-width: none;
    margin-right: 10%;
    margin-top: 5%;
}

#subject{
    display: flex;
    margin-top: 1%;
    border: 2px ;
    border-color: black;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 20%;
}
.input{
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
#import-icon{
    margin-left: 10px;
    background-color: #57CC99;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 15px;
    border:none;
}

#bin-icon{ 
    background-color: #D51B1B;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border:none;
    margin-left:10%;
}
.submit{
    margin-top: 2%;
    margin-left: 80%;
}
.submit-btn{
    background-color: #57CC99;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px;
    cursor: pointer;
}
#order{
    border: black 1px solid;
}
#code{
    margin-left: 2%;
    width: 100px;
}
#title{
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-left: 5%;
    height: 20px;
    width: 550px;
}
#no-user{
    display: flex;
    text-align: center;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}
#credit{
    display: flex;
    flex-direction: row;
    margin-right: 25%;

}
#credit-box{
    width:80px;
}
#user{
    margin-left: 1%;
}
#username{
    margin-left: 65%;
}
.file-input{
    background-color: #457b9d;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
}
.choosefile{
    margin-left:20px;
    margin-top: 20px;
    
}
.custom-file-input {
    font-size: 16px;
    background-color: white;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width:350px;
    outline:none
}
::-webkit-file-upload-button{
    color:white;
    background: #206a5d;
    padding: 20px;
    border:none;
    border-radius: 50px;
    box-shadow:1px 0 1px #6b4559;
    outline:none;
}
::-webkit-file-upload-button:hover{
    background: #438a5d;
}

.custom-file-input:hover {
    background-color: #f5f5f5;
}

.custom-file-input input {
    display: none;
}