.req-container{
    min-height: 100vh;
    min-width: 100vw;
}
.select-req{
    margin-left: 2%;
}
.select-r{
    margin-left: 1%;
}
.filter{
    border:solid 1px black;
    height: 50px;
    align-items: center;
    justify-items: center;
    display: flex;
}
.teacher-opt-req{
    width: 200px;
    text-align: center;
}
.day-opt-req{
    margin-left:5%
}
.time-opt-req{
    margin-left:5%
}
.condition-req{
    margin-left: 5%;
}
.condition-opt-req{
    width: 200px;
    text-align: center;
}
.user-req {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .box {
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-left: 60px;
    width: 160vh;
    transition: transform 0.3s ease; /* เพิ่มโมชั่นให้กล่องขยับ */
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}
  
  .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .box-body {
    font-size: 14px;
  }
  