/* .scrollv-users{
    -ms-overflow-style: none;
    overflow-y:scroll;
    height:2px;
    scrollbar-width: none;
    margin-right: 10%;
    margin-top: 5%;
}
#subject-users{
    display: flex;
    margin-top: 1%;
    border: 2px;
    border-color: black;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 27%;
} */
.email-table-container {
    overflow-x: auto; /*Add horizontal scroll when needed */
    margin-left: 25%;
    margin-top: 3%;
  }
  
  .email-table {
    width: 80%;
    border-collapse: collapse;
    height: 10%;
    
  }
  .priority{
    display: flex;
    flex-direction: row;
  }
  .email-table th, .email-table td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
  }
  
  .email-table th {
    background-color: #f2f2f2;
  }
  
  /* Add borders around the table */
  .email-table {
    border: 3px solid #ddd;
  }
  
  /* CSS for numbering cells */
  .email-table td:first-child::before {
    content: attr(data-row-number);
    counter-increment: rowNumber;
    
  }
  .email-table th:nth-child(3),.email-table td:nth-child(3) {
  width: 400px; /* Adjust the width as needed */
}

.scrolle{
    -ms-overflow-style: none;
    overflow-y:scroll;
    height:65vh;
    scrollbar-width: none;
  }
#confirm-input{
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 60%;
}
.c-priority{
  border: black 1px solid;
  width: 130px;
  text-align: center;
  margin-right: 4%;
}

.buttondelete {
  margin-left: 20px;
  padding: 15px 25px; /* ปรับขนาดของปุ่ม */
  background-color: palevioletred; /* สีพื้นหลัง */
  color: #fff; /* สีตัวอักษร */
  border: 2px solid palevioletred; /* ขอบ */
  border-radius: 8px; /* มุมโค้งขอบ */
  cursor: pointer;
  font-size: 10px; /* ขนาดตัวอักษร */
  font-weight: bold; /* ตัวหนา */
  text-transform: uppercase; /* แปลงตัวอักษรเป็นตัวใหญ่ทั้งหมด */
  letter-spacing: 2px; /* ระยะห่างระหว่างตัวอักษร */
  outline: none; /* ไม่แสดงเส้นโค้งขอบเมื่อโฮเวอร์ */
  transition: background-color 0.3s, border 0.3s, color 0.3s; /* เพื่อให้มีการเปลี่ยนแปลงอย่างนุ่มนวล */
}

.buttondelete:hover {
  background-color: plum; /* เปลี่ยนสีพื้นหลังเมื่อโฮเวอร์ */
  border: 2px solid plum; /* เปลี่ยนสีขอบเมื่อโฮเวอร์ */
  color: #fff; /* เปลี่ยนสีตัวอักษรเมื่อโฮเวอร์ */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* เพิ่มเอฟเฟ็กต์เงา */
}
